{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/immaterial.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="{% static 'js/htmx.min.js' %}"></script>
  <title>{{ app_name }}</title>
</head>
<body>
  {% include 'ui/base/navigation.html' %}
  <div class="page">
    {% block content %}
    {% endblock %}
  </div>
  <footer hx-get="{% url 'base-footer-view' %}" hx-trigger="load">
  </footer>
</body>
</html>