{% extends "ui/base/base.html" %}
{% block content %}
<script>
  function showRequestAck(projectName) {
    alert("A membership request has been sent to the project owner for the Project.");
  }
</script>
<div class="cntr-grid-1">
  <section class="list-box">
    <h4>
      Project List 
    </h4>

    <p>
      <i>Private projects not owned by you will not appear here.</i>
    </p>

    <p>
      <a href="{% url 'ui-add-project-view' %}">Create New Project</a>
    </p>

    <table>
      <tr>
        <td colspan="6">
          <h4>Projects I Own</h4>
        </td>
      </tr>
      <tr>
        <th>Name</th>
        <th class="title">Title</th>
        <th class="description">Description</th>
        <th>Access</th>
        <th>Active?</th>
        <th>Actions</th>
        <th></th>
      </tr>
      
        {% for project in owned_projects  %}
          <tr>
            <td>
              <a href="{% url 'ui-folder-view' project.home_folder.id %}">
                {{ project.name }}
              </a>
            </td>
            <td>
              {{ project.title }}
            </td>
            <td>
              {{ project.description }}
            </td>
            <td>
              {{ project.access }}
            </td>
            <td>{{ project.is_active }}</td>
            <td>
              {% if project.owner == request.user %}
                <span class="action-item">
                  <a href="{% url 'ui-update-project-view' project.id %}">
                    <img src="/static/img/icons/settings.png" alt="">
                  </a>
                </span>
              {% endif %}
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="6"><i>None</i></td>
          </tr>
        {% endfor %}

        <tr>
          <td colspan="6">
            <h4>Projects I Am A Member Of</h4>
          </td>
        </tr>
        <tr>
          <th>Name</th>
          <th class="title">Title</th>
          <th class="description">Description</th>
          <th>Owner</th>
          <th>Access</th>
          <th>Actions</th>
        </tr>

        {% for project in member_projects  %}
          <tr>
            <td>
              <a href="{% url 'ui-folder-view' project.home_folder.id %}">
                {{ project.name }}
              </a>
            </td>
            <td>
              {{ project.title }}
            </td>
            <td>
              {{ project.description }}
            </td>
            <td>
              {{ project.access }}
            </td>
            <td>{{ project.is_active }}</td>
            <td>
              {% if project.owner != request.user %}
                <span class="action-item">
                  <a href="{% url 'ui-leave-project-view' project.id %}">
                    <img src="/static/img/icons/leave.png" alt="" title="Leave Project">
                  </a>
                </span>
              {% endif %}
              {% if project.manager_group in request.user.groups.all and request.user in project.members.all %}
                <span class="action-item">
                  <a href="{% url 'ui-update-project-view' project.id %}">
                    <img src="/static/img/icons/settings.png" alt="">
                  </a>
                </span>
              {% endif %}
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="6"><i>None</i></td>
          </tr>
        {% endfor %}
      
        <tr>
          <td colspan="6">
            <h4>All Other Public & Open Projects</h4>
          </td>
        </tr>
        <tr>
          <th>Name</th>
          <th class="title">Title</th>
          <th class="description">Description</th>
          <th>Owner</th>
          <th>Access</th>
          <th>Actions</th>
        </tr>

        {% for project in all_projects  %}
          <tr>
            <td>
              {% if project.access == 'open' or project.access == 'public' and request.user in project.members.all %}
                <a href="{% url 'ui-folder-view' project.home_folder.id %}">
                  {{ project.name }}
                </a>
              {% else %}
                {{ project.name }}
              {% endif %}
              
            </td>
            <td>
              {{ project.title }}
            </td>
            <td>
              {{ project.description }}
            </td>
            <td>
              {{ project.owner }}
            </td>
            <td>
              {{ project.access }}
            </td>
            <td>
              <span class="action-item">
                {% if project.access == 'public' and request.user not in project.members.all %}
                  <a href="{% url 'ui-request-membership-project' project.id %}" onclick="showRequestAck()">
                    <img src="/static/img/icons/request.png" alt="" title="Request Membership">
                  </a>

                {% elif project.access == 'open' and request.user not in project.members.all %}
                  <a href="{% url 'ui-join-open-project-view' project.id %}">
                    <img src="/static/img/icons/join.png" alt="" title="Join Project">
                  </a>
                
                {% elif request.user in project.members.all %}
                  <a href="{% url 'ui-leave-project-view' project.id %}">
                    <img src="/static/img/icons/leave.png" alt="" title="Leave Project">
                  </a>
                {% endif %}
              </span>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="6"><i>None</i></td>
          </tr>
        {% endfor %}
      
    </table>
    
  </section>
</div>
{% endblock %}