{% extends "ui/base/base.html" %}
{% block content %}
<script>
  function showRequestAck(projectName) {
    alert("A membership request has been sent to the project owner for the Project.");
  }
</script>
<div class="cntr-grid-1">
  <section class="list-box">
    <h4>
      Project List 
    </h4>

    <p>
      <i>Private projects not owned by you will not appear here.</i>
    </p>

    <p>
      <a href="{% url 'ui-add-project-view' %}">Create New Project</a>
    </p>

    <table>
      
      {% include 'ui/projects-owned.html' %}

      {% include 'ui/projects-memberof.html' %}
      
      {% include 'ui/projects-other.html' %}
      
    </table>
    
  </section>
</div>
{% endblock %}