{% extends "ui/base/base.html" %}
{% block content %}
{% load model_funcs %}
<div class="cntr-grid-1">
  <section class="list-box">
    <h4>
      Repository View ({{ user }})
    </h4>
    <p>
      Current Folder: {{ container.get_nav_path|safe }}
    </p>

    {% if is_in_project %}
      {% include 'ui/project-message.html' %}
    {% endif %}

    {% if request.user.is_superuser or request.user == container.owner and not user_is_contributor and not container.is_profile_home_folder or user_is_editor and is_member and not container.is_project or user_is_manager and is_member %}
      <p>
        <a href="{% url 'ui-folder-details-view' container.id %}">
          Folder Details
        </a>
      </p>
    {% endif %}
    
    {% if container.parent %}
      {% include 'ui/up-navigation.html' %}
    {% endif %}

    {% if container.in_trashcan and container == request.user.profile.trashcan_folder  %}
      <p>
        <a href="{% url 'ui-delete-all-view' request.user.profile.trashcan_folder.id %}" onclick="showDeleteAllWarning();">
          Empty Trashcan
        </a>
      </p>
    {% endif %}

    {% if request.user.username == admin_username and not container.is_trashcan and not in_trashcan or not in_trashcan or container.owner == request.user and not container.is_trashcan and not in_trashcan or user_is_contributor and not container.is_trashcan and not in_trashcan or user_is_manager and not container.is_trashcan and not in_trashcan  %}
      {% include 'ui/add-folder-modal.html' %}
    {% endif %}

    <div>
      <script>
        function showRecycleWarning(obj) {
          answer = confirm(
            "You are about to delete this " + obj + ". This action will place the " + obj + " in your trashcan. Is that OK?"
          );
          if (answer) {
            return true;
          } else {
            return false;
          }
        }
        function showDeleteWarning(obj) {
          answer = confirm(
            "This action will permanently delete this " + obj + ". Restoring this " + obj + " will not be possible. Please confirm."
          );
          if (answer) {
            return true;
          } else {
            return false;
          }
        }
        function showDeleteAllWarning(obj) {
          answer = confirm(
            "This action will permanently delete ALL items in this trashcan (folders, subfolders, documents, etc.) Restoring will not be possible. Please confirm."
          );
          if (answer) {
            return true;
          } else {
            return false;
          }
        }
      </script>

      <form id="model-action-form" name="model-action-form" action="" method="POST">
        {% csrf_token %}
        <table>
          <thead>
            
            <th>
              {% if request.user.username == admin_username or user_is_contributor or user_is_manager or container.owner == request.user and add_folder_form and not container.is_trashcan %}
                <input type="checkbox" id="all-select-chk" name="all-selected" id=""> All
              {% endif %}
            </th>
            
            
            <th>
              Name
            </th>
            <th class="title">
              Title
            </th>
            <th>
              Owner
            </th>
            <th class="description">
              Description
            </th>
            <th>
              Modified
            </th>
            <th>
              Actions
            </th>
          </thead>
          <tbody>
            {% for model in model_list %}
              <tr>
                
                <td>
                  {% if request.user.username == admin_username or user_is_contributor or user_is_manager or container.owner == request.user and add_folder_form and not container.is_trashcan %}
                    <input class="model-action-checkbox" type="checkbox" name="model-selected" id="checkbox-{{ model.id }}">
                  {% endif %}
                </td>
                
                <td>
                  {% if model.type == 'folder' %}

                    {% if model.is_project %}
                      <img src="/static/img/icons/project.png" alt="" style="margin-right: 0.5rem; vertical-align: bottom;">
                    {% else %}
                      <img src="/static/img/icons/folder.png" alt="" style="margin-right: 0.5rem; vertical-align: bottom;">
                    {% endif %}

                      {% comment %} <p>
                        <ul>
                          <li>request.user.is_superuser | ({{ request.user.is_superuser }})</li>
                          <li>request.user == model.owner | ({{ request.user }}) == ({{ model.owner }})</li>
                          <li>model.is_project and request.user in project.members.all | ({{ model.is_project }}) ({{ request.user }} in {{ model.project_members }})</li>
                          <li>model.is_system_folder and model.owner.username == admin_username and not model.is_profile_home_folder and model == self.request.user.profile.home_folder | ({{ model.is_system_folder }}) ({{ model.owner.username }}) ({{ admin_username }}) ({{ model.is_profile_home_folder }}) ({{model}}) ({{request.user.profile.home_folder}})</li>
                          <li>model == system_projects_folder | ({{ model }}) ({{ system_projects_folder }})</li>
                          <li>model == system_home_folder | ({{ model }}) ({{ system_home_folder }})</li>
                          <li>user_is_editor and request.user in model.project_members | ({{ user_is_editor }}) ({{ request.user }}) ({{ model.project_members }})</li>
                          <li>user_is_contributor and request.user in model.project_members | ({{ user_is_contributor }}) ({{ request.user }}) ({{ model.project_members }})</li>
                          <li>user_is_manager and request.user in model.project_members | ({{ user_is_manager }}) ({{ request.user }}) ({{ model.project_members }})</li>
                          <li>project.access == 'open' | ({{ project.access }})</li>
                          <li>model.is_open_project | ({{ model.is_open_project }})</li>
                        </ul>
                      </p> {% endcomment %}

                    {% if request.user.is_superuser or request.user == model.owner or model.is_project and request.user in model.project_members or model.is_system_folder and model.owner.username == admin_username and model.is_profile_home_folder and model == self.request.user.profile.home_folder or model == system_projects_folder or model == system_home_folder or user_is_consumer and request.user in model.project_members or user_is_editor and request.user in model.project_members or user_is_contributor and request.user in model.project_members or user_is_manager and request.user in model.project_members or project.access == 'open' or model.is_open_project %}
                      <a href="{% url 'ui-folder-view' model.id %}">{{ model.name }}</a>
                    {% else %}
                      {{ model.name }}
                    {% endif %}

                  {% elif model.type == 'document' %}
                    <img src="/static/img/icons/document.png" alt="" style="margin-right: 0.5rem; vertical-align: bottom;">

                    {% if request.user.username == admin_username or model.owner == request.user or model.is_system_folder or user_is_consumer or user_is_contributor or user_is_editor or user_is_manager or model.owner.username == admin_username and model != model.owner.profile.home_folder or project_access == 'open'  %}
                      <a href="{% url 'ui-document-view' model.id %}">{{ model.name }}</a>
                    {% else %}
                      {{ model.name }}
                    {% endif %}
                    
                  {% endif %}
                </td>
                <td>{{ model.title|default_if_none:"N/A"|truncatewords:30 }} 
                  {% if model.type == 'folder' %}
                    {% if model.is_system_folder  %}
                      (System Folder)
                    {% endif %}
                  {% endif %}
                </td>
                <td>{{ model.owner }}</td>
                <td>{{ model.description|default_if_none:"N/A"|truncatewords:30 }}</td>
                <td>{{ model.modified }}</td>
                <td>
                  {% if not container.is_trashcan and not container.in_trashcan %}
                    {% if model.owner == request.user and not model.is_system_folder and not model.in_trashcan and not user_is_contributor or user_is_manager and is_member %}
                    <span class="action-item">
                      {% if model.type == 'document' %}
                        <a href="{% url 'ui-recycle-document-view' model.id %}"
                          title="Delete Document"
                          onclick="return showRecycleWarning('document')">
                      {% elif model.type == 'folder' %}
                        <a href="{% url 'ui-recycle-folder-view' model.id %}"
                          title="Delete Folder and Contents"
                          onclick="return showRecycleWarning('folder')">
                      {% endif %}
                        <img src="/static/img/icons/trashcan.png" alt="">
                      </a>
                    </span>
                    {% endif %}
                  {% else %}
                    {% if request.user.username == admin_username and container.is_trashcan and not container.in_trashcan or model.owner == request.user and not model.is_system_folder and container.is_trashcan and not container.in_trashcan or container == request.user.profile.trashcan_folder %}
                      {% if model.type == 'document' %}
                        <a href="{% url 'ui-delete-document-view' model.id %}"
                          title="Permanently Delete Document and All Versions/Previews"
                          onclick="return showDeleteWarning('document')">
                      {% elif model.type == 'folder' %}
                        <a href="{% url 'ui-delete-folder-view' model.id %}"
                          title="Permanently Delete Folder and Contents"
                          onclick="return showDeleteWarning('folder')">
                      {% endif %}
                        <img src="/static/img/icons/delete.png" alt="">
                      </a>
                      <span class="action-item">
                        {% if model.type == 'document'  %}
                          <a href="{% url 'ui-restore-document-view' model.id %}" title="Restore Document to {{ model.orig_parent }}">
                        {% elif model.type == 'folder' %}
                          <a href="{% url 'ui-restore-folder-view' model.id %}" title="Restore Folder and Contents to {{ model.orig_parent }}">
                        {% endif %}
                          <img src="/static/img/icons/restore.png" alt="">
                        </a>
                      </span>
                    {% endif %}
                  {% endif %}
                  
                  {% if not container.is_trashcan and not container.in_trashcan %}
                    {% if model.owner == request.user and not model.is_trashcan and not model.in_trashcan or is_member or model.is_system_folder and not model.is_profile_home_folder or request.user in model.project.members.all %}
                      <span class="action-item">
                        {% if model.type == 'document' and not model.id|is_favorited_doc:request.user.profile.id %}
                          <a href="{% url 'ui-favorite-document-view' model.id request.user.profile.id container.id %}"
                            title="Favorite Document: {{ model.name }}">
                          <img src="/static/img/icons/favorite.png" alt="">
                        
                        {% elif model.type == 'document' and model.id|is_favorited_doc:request.user.profile.id %}
                          <a href="{% url 'ui-unfavorite-document-view' model.id request.user.profile.id container.id %}"
                            title="Unfavorite Document: {{ model.name }}">
                          <img src="/static/img/icons/bookmark.png" alt="">
                        
                        {% elif model.type == 'folder' and not model.id|is_favorited_folder:request.user.profile.id %}
                          <a href="{% url 'ui-favorite-folder-view' model.id request.user.profile.id container.id %}"
                            title="Favorite Folder: {{ model.name }}">
                          <img src="/static/img/icons/favorite.png" alt="">
                        
                        {% elif model.type == 'folder' and model.id|is_favorited_folder:request.user.profile.id %}
                          <a href="{% url 'ui-unfavorite-folder-view' model.id request.user.profile.id container.id %}"
                            title="Unfavorite Folder: {{ model.name }}">
                          <img src="/static/img/icons/bookmark.png" alt="">

                        {% else %}
                          <p>We've hit else</p>
                        {% endif %}
                          
                        </a>
                      </span>
                    {% endif %}
                  {% endif %}

                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="4">
                  <em>Empty</em>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </form>
    </div>
  </section>
  <script>
    let actionBtn = document.getElementById("handle-models-btn");
    let bulkActionSelect = document.getElementById("bulk-action-select");
    let allSelectCheckbox = document.getElementById("all-select-chk");


    function disableActionBtn() {
      if (actionBtn) {
        actionBtn.disabled = true;
        bulkActionSelect.disabled = true;
        actionBtn.style.color = "black";
        actionBtn.style.backgroundColor = "gray";
        actionBtn.textContent = "Disabled";
        actionBtn.style.borderColor = "gray";
      }
    }

    function enableActionBtn() {
      if (actionBtn) {
        actionBtn.disabled = false;
        bulkActionSelect.disabled = false;
        actionBtn.style.color = "white";
        actionBtn.style.backgroundColor = "#4CAF50";
        actionBtn.style.borderColor = "#04AA6D";
        actionBtn.textContent = "Bulk Copy";
      }
    }

    disableActionBtn();

    let modelCheckboxes = document.getElementsByClassName("model-action-checkbox");
    for (let i=0; i < modelCheckboxes.length; i++) {
      modelCheckboxes[i].addEventListener('change', function() {
        if (this.checked) {
          enableActionBtn();
        } else {
          modelCheckboxes = document.getElementsByClassName("model-action-checkbox");

          let checkedModels = [];
          for (let i=0; i < modelCheckboxes.length; i++) {
            if (modelCheckboxes[i].checked) {
              checkedModels.push(modelCheckboxes[i].id.replace('checkbox-', ''));
            }
          }

          if (checkedModels.length < 1) {
            disableActionBtn();
          }
        }
      })
    }

    if (actionBtn) {
      actionBtn.addEventListener('click', ()=> {
        let modelCheckboxes = document.getElementsByClassName("model-action-checkbox");
        let checkedModels = [];
        let actionForm = document.getElementById("model-action-form");
        let selectedValue = bulkActionSelect.options[bulkActionSelect.selectedIndex].value;
        let windowHeight = 400;
        let windowWidth = 520;
  
        for (let i=0; i < modelCheckboxes.length; i++) {
          if (modelCheckboxes[i].checked) {
            checkedModels.push(modelCheckboxes[i].id.replace('checkbox-', ''));
          }
        }      
  
        modelIDs = checkedModels.join(',');
  
        if (selectedValue === 'Copy') {
          window.open(
            "/ui/documents/copy/" + modelIDs + "/{{ container.id }}/",
            "Select A Destination Folder",
            "width=" + windowWidth + ",height=" + windowHeight + ",top=200,left=200,popup"
          );
        }
  
        else if (selectedValue === 'Move') {
          window.open(
            "/ui/documents/move/" + modelIDs + "/{{ container.id }}/",
            "Select A Destination Folder",
            "width=" + windowWidth + ",height=" + windowHeight + ",top=200,left=200,popup"
          );
        }
  
        else if (selectedValue === 'Recycle') {
          window.open(
            "/ui/recycle/" + modelIDs + "/{{ request.user.profile.id }}/",
            "Select A Destination Folder",
            "width=" + windowWidth + ",height=" + 300 + ",top=200,left=200,popup"
          );
        }
  
      })
    }

    
    if (bulkActionSelect) {
      bulkActionSelect.addEventListener('click', ()=> {
        let selectedValue = bulkActionSelect.options[bulkActionSelect.selectedIndex].value;
        actionBtn.textContent = 'Bulk ' + selectedValue;
      });
    }

    if (allSelectCheckbox) {
      allSelectCheckbox.addEventListener('click', ()=> {
        console.log('Clicking the allSelectCheckbox ...');
        if (modelCheckboxes.length > 0) {
          if (allSelectCheckbox.checked) {
            console.log('allSelectCheckbox is checked.');
            for (let i=0; i < modelCheckboxes.length; i++) {
              modelCheckboxes[i].checked = true;
            }
            enableActionBtn();
    
          } else {
            console.log('allSelectCheckbox is not checked.');
            for (let i=0; i < modelCheckboxes.length; i++) {
              modelCheckboxes[i].checked = false;
            }
            disableActionBtn();
          }
        }
      });
    }
  </script>
</div>
{% endblock %}