<style>
  .select-modal {
    display: none; /* Hidden by default */
    /* position: fixed; */ /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    /* height: 100%; */ /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .select-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    height: 60%;
  }

  .select-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .select-close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
</style>

<div>

  <div id="select-modal-window" class="select-modal">

    <div class="select-modal-content">
      <span class="select-close">&times;</span>
      <h4>Select Destination Folder</h4>
      <form action="" method="POST">
        {% csrf_token %}
        <table>
          {% for child in root_container.child_folders %}
            <tr>
              <td>
                {{ child.name }}
              </td>
            </tr>
          {% endfor %}
          <tr>
            <td></td>
            <td>
              <button id="select-close-modal" type="submit">
                Select
              </button>
              <button id="select-cancel-modal" type="button">
                Cancel
              </button>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
</div>


<script>
  const selectModal = document.getElementById("select-modal-window");
  // const selectBtn = document.getElementById("select-show-modal-btn");
  const selectSpan = document.getElementsByClassName("select-close")[0];
  const selectCancelButton = document.getElementById("select-cancel-modal");

  /*
  selectBtn.onclick = function() {
    selectModal.style.display = "block";
  }
  */

  selectSpan.onclick = function() {
    selectModal.style.display = "none";
  }

  selectCancelButton.onclick = function() {
    selectModal.style.display = "none";
  }

  /*
  window.onclick = function(event) {
    if (event.target == select-modal) {
      selectModal.style.display = "none";
    }
  }
  */
</script>